@{
    ViewBag.Title = "About";
}
<br />
<form  method="get">

    <fieldset>
        Film Türü seçin:<select id="MovieType" name="MovieType" class="form-control">

    <option value="">Aşk</option>

    <option value="0">Action</option>

    <option value="1">Drama</option>

    <option  value="2">Comedy</option>

    <option value="3">Bİlim Kurgu</option>


    <option value="3">Animasyon</option>


</select>

        <p><input type="submit" value="Submit" /> </p>

    </fieldset>

</form>