
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<h2>Siteyi olusturan:Serpil Karasoy</h2>
<img src="~/Content/Image/244688605_701899494575007_4587306968466412802_n.jpg" width="100" height="100"/>

