
@{
    ViewBag.Title = "Index";
}
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, " />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>@ViewBag.Title</title>
</head>

<body>
    
    <a href="http://localhost:52727/TeknoBaglanti/Index"> <img src="~/Content/Image/thumbnail_9.jpg" width="1200" height="500"></a>

   

    @** <img src="~/Image/trslider1sm.jpg" width="1200" height="600" />*@
</body>
</html>

<img src="" alt="" />